* {
    padding: 0;
    margin: 0;
}


.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items:center;
     position: sticky;
     top: 0.1rem;
     z-index: 1;
    margin-bottom: 1.5rem;
     
}

.Titulo {
    font-size: 3.2rem;
    margin-top: 2rem;
    margin-left: 4rem;
    padding: 1rem;
    text-decoration:underline;
}


.texto {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.logo img {
    width: 28rem;
}


.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}


.nav ul li a{
    color: white;
    margin: 1.2rem;
    font-size: 1.4rem;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
   
}


.nav ul li a:hover {
     color: rgb(241, 27, 27);
     font-size: 1.9rem;
     transition-duration: 1.2s;
}


.main {
    display: flex;
    flex-direction: row;
}


.aside {
    background-color: black;
    width: 24rem;
    border: 3px solid white;
    
}


.aside ul li a {
    text-decoration: none;
    list-style: disc;
    color: white;
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
}


.aside ul li {
    margin: 1rem;
    padding: 1rem;
}


.aside ul li a:hover{
    color: red;
    font-size: 1.8rem;
    text-decoration: underline;
    transition-duration:1.2s ;
}



.footer {
    background-color: black;
    height: 6rem;
}
